<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CouponMapper">
 	
 	
	<resultMap id="couponSelectMap" type="coupon">
		<result property="couponNo" 		column="coupon_no" 					jdbcType="NUMBERIC"/>
		<result property="couponName"		column="coupon_name" 				jdbcType="VARCHAR" />
		<result property="discountRatio" 	column="discount_ratio" 			jdbcType="NUMBERIC" />
		<result property="maximumDiscount" 	column="maximum_discount_price" 	jdbcType="NUMBERIC" />
		<result property="minimum_price" 	column="minimum_price" 				jdbcType="NUMBERIC" />
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert 	id="addCoupon"		parameterType="coupon" >
	 	INSERT
		INTO coupon(coupon_no,  coupon_name, discount_ratio, maximum_discount_price, minimum_price) 
		VALUES	 (seq_coupon_no, #{couponName}, #{discountRatio}, #{maximumDiscount:NUMBERIC}, 	#{minimum_price:NUMBERIC} )
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getCoupon"	parameterType="int"	resultMap="couponSelectMap">
		SELECT
		*		
		FROM coupon 
		WHERE coupon_no = #{value}
	 </select>
	
	
	 <select 	id="getCouponList"	resultMap="couponSelectMap">
		SELECT
		*		
		FROM coupon	
	 </select>
	 
	 
	 <update id="updateCoupon" parameterType="coupon">
	 UPDATE SET (#{couponName}, #{discountRatio}, #{maximumDiscount}, #{minimum_price})
	 WHERE coupon_no = #{couponNo}
	 
	 </update>
	 
	 <delete id="deleteCoupon" parameterType="int">
	 	DELETE coupon FROM
	 	WHERE coupon_no = #{value} 	 
	 </delete>
	 
	 
	 
</mapper>