<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  등록되어 있는 쿠폰의 관리를 위한 기능(관리자 용) -->
<mapper namespace="CouponMapper">
 	
 	
	<resultMap id="couponSelectMap" type="coupon">
		<result property="couponNo" 		column="coupon_no" 					jdbcType="NUMERIC"/>
		<result property="couponName"		column="coupon_name" 				jdbcType="VARCHAR" />
		<result property="discountRatio" 	column="discount_ratio" 			jdbcType="NUMERIC" />
		<result property="maximumDiscount" 	column="maximum_discount_price" 	jdbcType="NUMERIC" />
		<result property="minimum_price" 	column="minimum_price" 				jdbcType="NUMERIC" />
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert 	id="addCoupon" parameterType="coupon" >
	 	INSERT
		INTO coupon(coupon_no,  coupon_name, discount_ratio, maximum_discount_price, minimum_price) 
		VALUES	 (seq_coupon_no, #{couponName}, #{discountRatio}, #{maximumDiscount:NUMERIC}, 	#{minimum_price:NUMERIC} )
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getCoupon"	parameterType="int"	resultMap="couponSelectMap">
		SELECT
		*		
		FROM coupon 
		WHERE coupon_no = #{value}
	 </select>
	
	 <!-- SQL : SELECT List Count -->
	 <select 	id="getCouponCount"	resultType="int">
		SELECT
		COUNT(coupon_no)		
		FROM coupon		
	 </select>
	 
	 	<!-- SQL : SELECT List -->
	 <select  id="getCouponList" parameterType="search"  resultMap="couponSelectMap">
		SELECT
		(SELECT ROW_NUMBER() OVER(ORDER BY product.prod_no) num,
		coupon.*		
		FROM coupon
		WHERE num BETWEEN #{startRowNum} AND #{endRowNum} 		
	 </select>
	 
	 
	 <update id="updateCoupon" parameterType="coupon">
	 UPDATE coupon
	 <set>
	 	<if test="couponName !=null">#{couponName},</if>
	 	<if test="discountRatio !=null">#{discountRatio},</if>
	 	<if test="maximumDiscount !=null">#{maximumDiscount},</if>
	 	<if test="minimum_price !=null">#{minimum_price}</if>	    
	 </set>
	 WHERE coupon_no = #{couponNo}
	 
	 </update>
	 
	 <delete id="deleteCoupon" parameterType="int">
	 	DELETE coupon FROM
	 	WHERE coupon_no = #{value} 	 
	 </delete>
	 	 
	 
</mapper>