<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  등록되어 있는 쿠폰의 관리를 위한 기능(관리자 용) -->
<mapper namespace="CouponMapper">
 	
 	
	<resultMap id="couponSelectMap" type="coupon">
		<result property="couponNo" 		column="coupon_no" 					jdbcType="NUMERIC"/>
		<result property="couponName"		column="coupon_name" 				jdbcType="VARCHAR" />
		<result property="discountRatio" 	column="discount_ratio" 			jdbcType="NUMERIC" />
		<result property="maximumDiscount" 	column="maximum_discount_price" 	jdbcType="NUMERIC" />
		<result property="minimum_price" 	column="minimum_price" 				jdbcType="NUMERIC" />
		<result property="couponCount" 		column="count" 						jdbcType="NUMERIC" />
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert 	id="addCoupon" parameterType="coupon" >
	 	INSERT
		INTO coupon(coupon_no,  coupon_name, discount_ratio, maximum_discount_price, minimum_price) 
		VALUES	 (seq_coupon_no.nextval, #{couponName}, #{discountRatio}, #{maximumDiscount}, #{minimum_price} )
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getCoupon"	parameterType="int"	resultMap="couponSelectMap">
		SELECT
		*		
		FROM coupon 
		WHERE coupon_no = #{value}
	 </select>
	
	 <!-- SQL : SELECT List Count -->
	 <select 	id="getCouponCount"	resultType="int">
		SELECT
		COUNT(coupon_no)		
		FROM coupon		
	 </select>
	 
	 
	 
	 <!-- SQL : SELECT List (현재 발급된 쿠폰의 정보, 쿠폰 개수를 불러온다.) -->
	 <select  id="getCouponList" parameterType="search"  resultMap="couponSelectMap">
		SELECT * FROM(
		SELECT ROW_NUMBER() OVER(ORDER BY coupon_no) num,
		coupon.*,
		NVL((SELECT COUNT(discount_no) FROM discount WHERE discount.coupon_no = coupon.coupon_no ) ,'0') AS count		
		FROM coupon)
		WHERE num BETWEEN #{startRowNum} AND #{endRowNum} 		
	 </select>
	 
	 
	 
	  <!-- SQL : SELECT List (현재 발급된 쿠폰의 이름, 쿠폰번호를 불러온다.) -->
	 <select  id="getCouponSimpleList"  resultMap="couponSelectMap">
		SELECT coupon_no, coupon_name FROM coupon ORDER BY coupon_no				
	 </select>	 
	 
	 
	 <update id="updateCoupon" parameterType="coupon">
	 UPDATE coupon
	 SET	 	
	 discount_ratio = #{discountRatio},
	 maximum_discount_price  = #{maximumDiscount},
	 minimum_price = #{minimum_price}	 
	 WHERE coupon_no = #{couponNo}	 
	 </update>
	 
	 <delete id="deleteCoupon" parameterType="int">
	 	DELETE FROM coupon 
	 	WHERE coupon_no = #{value} 	 
	 </delete>
	 	 
	 
</mapper>