<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
 	
 	<resultMap id="fileImageSelectMap" type="fileImages">
		<result property="imagesNo" 	column="image_no" 	jdbcType="NUMERIC"/>
		<result property="prodNo"		column="prod_no" 	jdbcType="NUMERIC" />
		<result property="fileName" 	column="image_file" jdbcType="VARCHAR" />
	</resultMap>
 	
	<resultMap id="prodSelectMap" type="product">
		<result property="prodNo" 			column="prod_no" 			jdbcType="NUMERIC"/>
		<result property="prodName"			column="prod_name" 			jdbcType="VARCHAR" />
		<result property="prodDetail" 		column="prod_detail" 		jdbcType="VARCHAR" />
		<result property="manuDate" 		column="manufacture_day" 	jdbcType="VARCHAR" />
		<result property="price" 			column="price" 				jdbcType="NUMERIC" />			
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
		<result property="proTranCode" 		column="TRAN_CODE" 			jdbcType="VARCHAR" />
		
		<collection property="fileName" column="prod_no" javaType="list" ofType="fileImages" select="getImagesfiles"/>
			
	</resultMap>
	
	 <select id="getImagesfiles" parameterType="int" resultMap="fileImageSelectMap">
		SELECT * FROM images 
		WHERE images.prod_no = #{value}
	 </select>
	
	

	<select id="getProduct" parameterType ="int" resultMap="prodSelectMap" >
		SELECT
		prod_no, prod_name, prod_detail, manufacture_day, price, reg_date, 
		NVL((SELECT transaction.tran_status_code FROM transaction WHERE transaction.prod_no = product.prod_no) ,'0') AS TRAN_CODE
		FROM product		
		WHERE product.prod_no = #{value}	
	</select>
	
	
	<select id="getLastProdNo" parameterType ="int" resultType="int">
		SELECT
		MAX(prod_no)	
		FROM product				
	</select>
	
	
	
	<select id="getProductName" parameterType ="string" resultMap="prodSelectMap" >
		SELECT
		prod_no, prod_name, prod_detail, manufacture_day, price, reg_date, 
		NVL((SELECT transaction.tran_status_code FROM transaction WHERE transaction.prod_no = product.prod_no) ,'0') AS TRAN_CODE
		FROM product		
		WHERE product.prod_name = #{value}	
	</select>
			
	
	<update id="updateProduct" parameterType="product">
		UPDATE product 
		SET prod_name= #{prodName:VARCHAR}, prod_detail= #{prodDetail:VARCHAR}, manufacture_day= #{manuDate:VARCHAR}, price= #{price:NUMERIC} 
		WHERE PROD_NO= #{prodNo}	
	</update>
	
	
	<insert id="insertProduct" parameterType="product">
		INSERT INTO product 
		VALUES(seq_product_prod_no.nextval, #{prodName:VARCHAR}, #{prodDetail:VARCHAR}, #{manuDate:VARCHAR}, #{price:NUMERIC}, SYSDATE)	
	</insert>
	
	
	<select id="getCountProduct" parameterType="search" resultType="int">
		SELECT 
		COUNT(prod_no)
		FROM product
		<where>
			<if test="searchCondition != ''">
				<if test="searchCondition ==0 and searchKeyword !=''">
					prod_no = #{searchKeyword}
				</if>
				
				<if test="searchCondition == 1">
					prod_name like '%'|| #{searchKeyword} ||'%'
				</if>
				
				<if test="searchCondition == 2">
					
					<if test="searchKeyword != '' and searchKeywordOptional == ''">
						price >= #{searchKeyword}
					</if>
					
					<if test="searchKeywordOptional != '' and searchKeyword == ''">
						#{searchKeywordOptional} >= price
					</if>
				
					
					<if test="searchKeyword != '' and searchKeywordOptional != ''">
						price BETWEEN #{searchKeyword} AND #{searchKeywordOptional}
					</if>				
					
				</if>			
			</if>						
		</where>			
	</select>
	
	<select id="getProductList" parameterType="search"	resultMap="prodSelectMap">
	
		SELECT * FROM
		(SELECT ROW_NUMBER() OVER(
			
			<if test="searchOrder ==0">
				ORDER BY product.prod_no
			</if>			
			<if test="searchOrder ==1">
				ORDER BY product.price
			</if>	
			
			<if test="searchOrder ==2">
				ORDER BY product.price DESC
			</if>
			
			<if test="searchOrder ==3">
				ORDER BY product.prod_no DESC
			</if>		
		
		
		) num,
		product.*,
		NVL((SELECT transaction.tran_status_code FROM transaction WHERE transaction.prod_no = product.prod_no) ,'0') AS TRAN_CODE
		FROM product
		<where>
			<if test="searchCondition != ''">
				<if test="searchCondition ==0 and searchKeyword !=''">
					prod_no = #{searchKeyword}
				</if>
				
				<if test="searchCondition == 1">
					prod_name like '%'||#{searchKeyword}||'%'
				</if>
				
				<if test="searchCondition == 2">
					
					<if test="searchKeyword != '' and searchKeywordOptional == ''">
						price >= #{searchKeyword}
					</if>
					
					<if test="searchKeywordOptional != '' and searchKeyword == ''">
						#{searchKeywordOptional} >= price
					</if>
				
					
					<if test="searchKeyword != '' and searchKeywordOptional != ''">
						price BETWEEN #{searchKeyword} AND #{searchKeywordOptional}
					</if>				
					
				</if>			
			</if>						
		</where>					
		) WHERE num BETWEEN #{startRowNum} AND #{endRowNum} 	
	</select>	

	 
</mapper>