<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
 	
 	
 	<resultMap id="userSelectMap" type="user">
		<result property="userId" 		column="user_id" 		jdbcType="VARCHAR"/>
		<result property="userName"		column="user_name" 		jdbcType="VARCHAR" />
		<result property="password" 	column="password" 		jdbcType="VARCHAR" />
		<result property="role" 		column="role" 			jdbcType="VARCHAR" />
		<result property="ssn" 			column="ssn" 			jdbcType="VARCHAR" />
		<result property="phone" 		column="cell_phone" 	jdbcType="VARCHAR" />
		<result property="addr" 		column="addr" 			jdbcType="VARCHAR" />
		<result property="email" 		column="email" 			jdbcType="NUMERIC"  />
		<result property="regDate" 		column="reg_date" 		jdbcType="DATE" />
	</resultMap>
	
	
	<resultMap id="prodSelectMap" type="product">
		<result property="prodNo" 			column="prod_no" 			jdbcType="NUMERIC"/>
		<result property="prodName"			column="prod_name" 			jdbcType="VARCHAR" />
		<result property="prodDetail" 		column="prod_detail" 		jdbcType="VARCHAR" />
		<result property="manuDate" 		column="manufacture_day" 	jdbcType="VARCHAR" />
		<result property="price" 			column="price" 				jdbcType="NUMERIC" />
		<result property="fileName" 		column="image_file" 		jdbcType="VARCHAR" />		
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
		<result property="proTranCode" 		column="TRAN_CODE" 			jdbcType="VARCHAR" />
	</resultMap>
 	
 	
 	
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="tranNo" 				column="tran_no" 			jdbcType="VARCHAR"/>
		<result property="paymentOption"		column="payment_option" 	jdbcType="VARCHAR" />
		<result property="receiverName" 		column="receiver_name" 		jdbcType="VARCHAR" />
		<result property="receiverPhone" 		column="receiver_phone" 	jdbcType="VARCHAR" />
		<result property="divyAddr" 			column="dlvy_addr" 			jdbcType="VARCHAR" />
		<result property="divyRequest" 			column="dlvy_request" 		jdbcType="VARCHAR" />
		<result property="tranCode" 			column="tran_status_code" 	jdbcType="VARCHAR" />
		<result property="orderDate" 			column="order_date" 		jdbcType="DATE"  />
		<result property="divyDate" 			column="dlvy_date" 			jdbcType="DATE" />
		
		<association property="buyer" 		 column="buyer_id"	javaType="user"  	select="setBuyer"/>		
		<association property="purchaseProd" column="prod_no"	javaType="product"  select="setPurchase"/>		
	</resultMap>
	
	
	
	<select id="setBuyer" parameterType="string" resultMap="userSelectMap">
		SELECT * FROM users WHERE user_id = #{value}
	</select>	
	
	
	<select id="setPurchase"  parameterType="int" resultMap="prodSelectMap">
		SELECT * FROM product WHERE prod_no = #{value}
	</select>


	
	<select id="getPurchaseTransNo" parameterType="int"  resultMap="purchaseSelectMap">
		SELECT * FROM TRANSACTION WHERE tran_no = #{value}	
	</select>
	
	<select id="getPurchaseProdNo" parameterType="int"  resultMap="purchaseSelectMap">
		SELECT * FROM TRANSACTION WHERE prod_no = #{value}	
	</select>
	
	
	
	<insert id="insertPurchase" parameterType="purchase" >
		INSERT INTO TRANSACTION			
		VALUES(	seq_transaction_tran_no.nextval, #{purchaseProd.prodNo},#{buyer.userId},#{paymentOption},#{receiverName},#{receiverPhone},#{divyAddr},#{divyRequest},1,SYSDATE,	#{divyDate})
	
	</insert>	
	
	<update id="updatePurchase" parameterType="purchase">
		UPDATE TRANSACTION SET PAYMENT_OPTION =#{paymentOption}, RECEIVER_NAME=#{receiverName}, RECEIVER_PHONE =#{receiverPhone}, DLVY_ADDR =#{divyAddr}, DLVY_REQUEST =#{divyRequest}, DLVY_DATE =#{divyDate}  WHERE TRAN_NO = #{tranNo}
	</update>



	<update id="updateTransCode" parameterType="purchase">
		UPDATE TRANSACTION SET TRAN_STATUS_CODE = #{tranCode} WHERE PROD_NO = #{purchaseProd.prodNo}
	</update>
	
	
	<select id="getCountPurchase" parameterType="string" resultType="int">
		SELECT COUNT(tran_no) FROM  transaction WHERE buyer_id = #{value}	
	</select>
	
	
	<!-- searchKeyword는 유저 ID  -->
	<select id="getPurchaseList" parameterType="search"  resultMap="purchaseSelectMap">
		SELECT *  FROM (SELECT ROW_NUMBER() OVER(ORDER BY transaction.tran_no) num, transaction.* FROM transaction WHERE buyer_id = #{searchKeyword} )
		WHERE num BETWEEN #{startRowNum} AND #{endRowNum}
	</select>

	<select id="getAllCountPurchase"  resultType="int">
		SELECT COUNT(tran_no) FROM  transaction 	
	</select>
	
	
	<select id="getAllPurchaseList"   resultMap ="purchaseSelectMap">
		SELECT *  FROM transaction
	</select>
	
	
	<select id="getAllPurchaseList2" parameterType="search"  resultMap="purchaseSelectMap">
		SELECT *  FROM (SELECT ROW_NUMBER() OVER(ORDER BY transaction.tran_no) num, transaction.* FROM transaction )
		WHERE num BETWEEN #{startRowNum} AND #{endRowNum}
	</select>




	 
</mapper>